.app {
  text-align: center;
}

.container {
  padding: 0;
}

.wiki-column {
  background-color: #FFFFFF;
}

.welcome {
  padding: 20px;
}

.welcome h1 {
  font-size: 40px;
}

.welcome h1 span {
  font-weight: 100;
}